In [29]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
import numpy as np

In [30]:
df={
    'Age':[60,70,45,55,50,35,28,30,20,25],
    'Sex':[1,0,1,1,0,1,0,1,1,0],
    'Diabetes':[1,1,1,1,1,1,0,0,0,0],
    'SGLT2':[1,1,1,1,1,0,0,0,0,0]
}

df= pd.DataFrame(df)

In [31]:
df.to_csv('ps_dummy.csv',index=False)

In [32]:
X= df.drop('SGLT2',axis=1)
y=df['SGLT2']
model = LogisticRegression()
result=model.fit(X, y)
df['Propensity_Score'] = model.predict_proba(X)[:, 1]

In [26]:
intercept = model.intercept_
coefficients = model.coef_
(intercept, coefficients)

(array([-23.38335388]), array([[ 0.58431801, -0.00187827,  0.00388565]]))

In [33]:
df

   Age  Sex  Diabetes  SGLT2  Propensity_Score
0   60    1         1      1          0.999992
1   70    0         1      1          1.000000
2   45    1         1      1          0.948484
3   55    1         1      1          0.999843
4   50    0         1      1          0.997089
5   35    1         1      0          0.050680
6   28    0         0      0          0.000891
7   30    1         0      0          0.002855
8   20    1         0      0          0.000008
9   25    0         0      0          0.000154